.cg-counter1-content {
	margin: 0 auto;
	max-width: 1000px;
}
.cg-count-item1 {
	h3 {
		font-size: 80px;
		font-weight: 700;
		color: var(--cg-pr-c3);
	}
	p {
		color: var(--cg-pr-c1);
		font-family: var(--cg-heading);
	}
}