.cg-map-pin-sec {
	overflow: hidden;
}
.cg-map-pin-content {
	gap: 40px;
	justify-content: space-between;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.cg-map-pin-circle {
	width: 500px;
	height: 500px;
	border-radius: 100%;
	@media #{$xxs} {
		width: 300px;
		height: 300px;
	}
	.cg-m-item1 {
		width: 492px;
		height: 492px;
		border-radius: 100%;
		border: 2px dashed var(--cg-pr-c2);
		@media #{$xxs} {
			display: none;
		}
		.txt_item1 {
			top: 10px;
			left: 75px;
			width: 57px;
			height: 57px;
			overflow: hidden;
			border-radius: 100%;
			position: absolute;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt_item2 {
			top: -10px;
			right: 75px;
			width: 85px;
			height: 85px;
			overflow: hidden;
			position: absolute;
			border-radius: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt_item3 {
			top: 35%;
			width: 45px;
			height: 45px;
			right: -10px;
			display: flex;
			position: absolute;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			background-color: var(--cg-pr-c2);
		}
	}
	.cg-m-item2 {
		top: 45px;
		left: 45px;
		width: 405px;
		height: 405px;
		position: absolute;
		border-radius: 100%;
		background-color: #fff;
		border: 2px dashed var(--cg-pr-c2);
		@media #{$xxs} {
			display: none;
		}
		.txt_item1 {
			left: 0;
			width: 85px;
			height: 85px;
			bottom: 50px;
			overflow: hidden;
			position: absolute;
			border-radius: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt_item2 {
			left: 0;
			right: 0;
			width: 45px;
			height: 45px;
			display: flex;
			bottom: -20px;
			margin: 0 auto;
			position: absolute;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			background-color: var(--cg-pr-c2);
		}
	}
	.cg-m-item3 {
		top: 105px;
		right: 105px;
		width: 288px;
		height: 288px;
		position: absolute;
		border-radius: 100%;
		border: 2px dashed var(--cg-pr-c2);
		box-shadow: 0px 4px 18px 0px #0000001F;
		background: linear-gradient(-90deg, rgba(255, 255, 255, 0.24) 0%, rgba(14, 182, 189, 0.24) 100%);
		@media #{$xxs} {
			top: 0;
			right: 0;
			position: relative;
		}
		.txt_1 {
			left: 0;
			right: 0;
			top: 50%;
			position: absolute;
			text-align: center;
			transform: translateY(-50%);
		}
		.txt_item1 {
			right: 0;
			width: 60px;
			height: 60px;
			bottom: 30px;
			overflow: hidden;
			position: absolute;
			border-radius: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.txt_item2 {
			top: 25px;
			left: 15px;
			width: 45px;
			height: 45px;
			display: flex;
			position: absolute;
			align-items: center;
			border-radius: 100%;
			justify-content: center;
			background-color: var(--cg-pr-c2);
		}
	}
}

.cg-map-pin-location {
	width: 100%;
	height: 360px;
	max-width: 700px;
	.item-map {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.item-pin-wrap {
	width: 155px;
	cursor: pointer;
	position: absolute;
	&:nth-child(2) {
		right: 0;
		top: 55px;
	}
	&:nth-child(3) {
		top: 60px;
		left: 10%;
	}
	&:nth-child(4) {
		top: 30%;
		left: 40%;
		@media #{$xxs} {
			left: 15%;
		}
	}
	&:nth-child(5) {
		top: 50%;
		right: 0;
	}
	&:nth-child(6) {
		top: 60%;
		left: 25%;
	}
	&:nth-child(7) {
		top: 65%;
		left: 55%;
	}
	span {
		position: relative;
		&:before {
			top: -5px;
			left: -5px;
			width: 15px;
			opacity: .2;
			content: '';
			height: 15px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
		}
		&:after {
			top: -10px;
			left: -11px;
			width: 26px;
			content: '';
			opacity: 0.1;
			height: 26px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
		}
		i {
			width: 5px;
			height: 5px;
			display: block;
			border-radius: 100%;
			background-color: var(--cg-pr-c2);
		}
	}
	.pin-text {
		top: -20px;
		left: -53px; 
		opacity: 0;
		color: #fff;
		width: 110px;
		font-size: 14px;
		font-weight: 700;
		padding: 4px 20px;
		text-align: center;
		position: absolute;
		border-radius: 30px;
		visibility: hidden;
		background-color: var(--cg-pr-c3);
		transition: 400ms cubic-bezier(.57,.21,.69,1.25);
		@media #{$xxs} {
			display: none;
		}

		&:before {
			left: 50%;
			content: '';
			bottom: -10px;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 15px solid #f3525a; 
			transform: translateX(-50%);
		}
	}
	&:hover,
	&:is(.active) {
		.pin-text {
			opacity: 1;
			top: -40px;
			visibility: visible;
		}
	}
}