%ofcanvas-trigger{
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media #{$lg,$md,$sm,$xs} {
		width: 50px;
	}
	button {
		padding: 0;
		width: 28px;
		border: none;
		height: 28px;
		background-color: transparent;
	}
	span {
		width: 5px;
		height: 5px;
		float: left;
		margin: 2px;
		position: relative;
		border-radius: 50px;
		display: inline-block;
		transition: all 500ms ease;
		background: var(--cg-pr-c1);;
		&:nth-child(1){
			background-color:  var(--cg-pr-c3);
		}
		&:nth-child(5){
			background-color:  var(--cg-pr-c3);
		}
		&:nth-child(9){
			background-color:  var(--cg-pr-c3);
		}
	}
	&:hover {
		span {
			background: #1C255C;
		}
		span:nth-child(1){
			transform:translateX(9px);
		}
		span:nth-child(2){
			transform:translateX(9px);
		}
		span:nth-child(3){
			transform:translateY(9px);
		}
		span:nth-child(6){
			transform:translateY(9px);
		}
		span:nth-child(9){
			transform:translateX(-9px);
		}
		span:nth-child(8){
			transform:translateX(-9px);
		}
		span:nth-child(7){
			transform:translateY(-9px);
		}
		span:nth-child(4){
			transform:translateY(-9px);
		}
	}
}
.cg-header-section {
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	position: absolute;
	.navbar-nav {
		flex-direction: row;
	}
	.offcanvas-trigger {
		@extend%ofcanvas-trigger;
	}
	&:is(.header_style_one) {
		.cg-header-top {
			padding: 12px 160px;
			background-color: var(--cg-pr-c1);
			@media screen and (max-width: 1600px) {
				padding: 12px 60px;
			}
			@media #{$lg,$md,$sm,$xs} {
				padding: 5px 15px;
			}
			@media #{$md,$sm,$xs} {
				display: none !important;
			}
			.top-cta {
				.item-icon {
					margin-right: 8px;
				}
				.item-text {
					color: #fff;
					font-size: 15px;
				}
			}
			.top-action {
				gap: 15px 30px;
				@media #{$lg,$md,$sm,$xs} {
					gap: 15px;
				}
				.action-language,
				.action-currency {
					color: #fff;
					font-size: 16px;
					font-weight: 500;
					margin-right: 15px;
					position: relative;
					background-color: transparent;
					&:after {
						top: 0px;
						opacity: .7;
						color: #fff;
						right: -17px;
						font-size: 14px;
						content: '\f078';
						font-weight: 700;
						position: absolute;
						font-family: 'Font Awesome 5 Free';
					}
					select {
						border: none;
						appearance: none;
						background-color: transparent;
					}
				}
				.action-language {
					&:after {
						top: 1px;
					}
					&:before {
						top: 6px;
						left: -22px;
						width: 17px;
						content: '';
						height: 12px;
						position: absolute;
						background-repeat: no-repeat;
						background-image: url(../img/icon/flag.svg);
					}
				}
			}
			.action-social {
				color: #fff;
				font-size: 15px;
				span {
					@media #{$lg,$md,$sm,$xs} {
						display: none;
					}
				}
				a {
					opacity: .72;
					margin-left: 20px;
					@media #{$lg,$md,$sm,$xs} {
						margin-left: 10px;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.cg-header-navigation {
			margin: 0px 90px;
			padding: 25px 70px;
			background-color: #fff;
			clip-path: polygon( 0.644% 52.869%,0.644% 52.869%,0.336% 46.998%,0.139% 40.431%,0.046% 33.48%,0.05% 26.452%,0.144% 19.658%,0.323% 13.405%,0.58% 8.004%,0.908% 3.764%,1.301% 0.992%,1.753% 0%,98.241% 0%,98.241% 0%,98.717% 1.093%,99.126% 4.13%,99.46% 8.749%,99.714% 14.588%,99.88% 21.284%,99.954% 28.474%,99.929% 35.797%,99.798% 42.89%,99.555% 49.39%,99.194% 54.935%,95.779% 94.933%,95.779% 94.933%,95.693% 95.877%,95.604% 96.728%,95.513% 97.484%,95.419% 98.143%,95.324% 98.704%,95.227% 99.167%,95.128% 99.528%,95.028% 99.788%,94.927% 99.945%,94.826% 99.997%,4.411% 99.523%,4.411% 99.523%,4.289% 99.447%,4.169% 99.222%,4.051% 98.851%,3.934% 98.337%,3.82% 97.682%,3.709% 96.889%,3.601% 95.961%,3.497% 94.9%,3.398% 93.71%,3.302% 92.392%,0.644% 52.869% );
			@media screen and (max-width: 1800px) {
				padding: 25px 70px;
			}
			@media screen and (max-width: 1700px) {
				margin: 0px 30px;
			}
			@media screen and (max-width: 1600px) {
				margin: 0px 20px;
				padding: 25px 40px;
			}
			@media #{$xl,$lg,$md,$sm,$xs} {
				padding: 20px 40px;
			}
			@media #{$xxs} {
				margin: 0;
				padding: 10px 15px;
			}
			.brand-logo {
				@media #{$xl,$lg,$md,$sm,$xs} {
					max-width: 150px;
				}
			}
			.main-navigation {
				@media #{$md,$sm,$xs} {
					display: none !important;
				}
				li {
					margin: 0px 32px;
					@media screen and (max-width: 1800px) {
						margin: 0px 25px;
					}
					@media #{$xl,$lg,$md,$sm,$xs} {
						margin: 0px 15px;
					}
					a {
						color: #241F1F;
						font-weight: 500;
						display: inline;
						position: relative;
						padding-bottom: 30px;
						@media #{$xl,$lg,$md,$sm,$xs} {
							font-size: 15px;
						}
						&:before {
							top: 8px;
							width: 5px;
							height: 5px;
							left: -10px;
							content: '';
							position: absolute;
							border-radius: 100%;
							transform: scale(0);
							transition: 800ms var(--cube-1);
							background-color: var(--cg-pr-c3);
						}
						&:after {
							left: 0;
							right: 0;
							top: 22px;
							width: 0%;
							height: 2px;
							content: '';
							margin: 0 auto;
							position: absolute;
							background-color: #241F1F;
							transition: 800ms var(--cube-1);
						}
						&:hover,
						&:is(.active) {
							&:before {
								transform: scale(1);
							}
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
			.header-action {
				gap: 15px 45px;
				@media screen and (max-width: 1600px) {
					gap: 15px 30px;
				}
				@media #{$xl,$lg,$md,$sm,$xs} {
					gap: 15px;
				}
				@media #{$md,$sm,$xs} {
					display: none !important;
				}
			}
			.action-cta {
				gap: 12px;
				span, a {
					display: block;
				}
				span {
					color: #828A8D;
					font-size: 14px;
				}
				a {
					font-weight: 700;
					color: var(--cg-pr-c1);
					white-space: nowrap;
					font-family: var(--cg-heading);
					@media #{$xl,$lg,$md,$sm,$xs} {
						font-size: 14px;
					}
				}
			}
			.header-btn {
				@media #{$lg,$md,$sm,$xs} {
					display: none;
				}
				a {
					display: flex;
					font-size: 14px;
					font-weight: 700;
					padding: 10px 35px;
					align-items: center;
					border-radius: 100px;
					white-space: nowrap;
					color: var(--cg-pr-c1);
					border: 1px solid #000000;
					font-family: var(--cg-heading);
					@media screen and (max-width: 1700px) {
						padding: 10px 25px;
					}
					@media #{$xl,$lg,$md,$sm,$xs} {
						font-size: 12px;
						padding: 10px 15px;
					}
					i {
						font-size: 20px;
						margin-right: 20px;
						color: var(--cg-pr-c3);
						@media screen and (max-width: 1700px) {
							margin-right: 10px;
						}
						@media #{$xl,$lg,$md,$sm,$xs} {
							font-size: 14px;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}
.cg-mobile-btn-trigger {
	padding: 0;
	padding: 0;
	border: none;
	display: none;
	background-color: transparent;
	span {
		width: 30px;
		height: 2px;
		display: block;
		margin-bottom: 5px;
		background-color: #000;
		&:nth-child(2) {
			width: 25px;
		}
		&:last-child {
			width: 20px;
			margin-bottom: 0;
		}
	}
	@media #{$md,$sm,$xs} {
		display: block;
	}
}