@keyframes hithere {
	30% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	40%, 60% {
		-webkit-transform: rotate(-10deg) scale(1.1);
		transform: rotate(-10deg) scale(1.1);
	}
	50% {
		-webkit-transform: rotate(10deg) scale(1.1);
		transform: rotate(10deg) scale(1.1);
	}
	70% {
		-webkit-transform: rotate(0deg) scale(1.1);
		transform: rotate(0deg) scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.cg-sponsor-content-1,
.cg-sponsor-content-2 {
	overflow: hidden;
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.cg-sponsor-content-1 {
	border-bottom: 1px solid #00000026;
	@media #{$md,$sm,$xs} {
		border: none;
	}
}
.cg-sp-item1 {
	width: 100%;
	cursor: pointer;
	max-width: 242px;
	padding: 70px 20px;
	margin-right: -2px;
	border-right: 1px solid #00000026;
	@media #{$md,$sm,$xs} {
		margin: 5px;
		border: 1px solid #00000026;
	}
	@media #{$xs} {
		max-width: 45%;
		padding: 20px 20px;
	}
	.item-img {
		width: 100%;
		height: 55px;
		display: flex;
		max-width: 242px;
		align-items: center;
		justify-content: center;
	}
	&:hover {
		.item-img {
			animation: hithere 1s ease infinite;
		}
	}
}